* {
    box-sizing: border-box;
  }

  #background {
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
    height: 100%;
    width: 100%;
    filter:blur(.2em);
  }

  .header {
    background-color: none;
    color: white;
    font-weight: normal;
    width: 50%;
    align-tracks:center;
    text-shadow: .12em .12em hsl(0, 0%, 0%);
  }

  h2 {
    text-shadow: .08em .08em hsl(0, 0%, 0%);
    color: hsl(0, 0%, 100%);
  }
  h3{
    text-shadow: .08em .08em hsl(0, 0%, 0%);
    color: hsl(0, 0%, 100%);
  }
  a:link{
    color: hsl(0, 0%, 100%);
  }
  a:visited{
    color: hsl(0, 0%, 100%);
    text-shadow: .08em .08em hsl(0, 0%, 0%);
  }
  .truecoders {
    height:60px;
    width:100px;
  }
.education{
  margin-top:.8em;
  font-weight: bold;
  font-size: 1em;
  text-shadow: .03em .03em hsl(0, 0%, 0%);
  color:hsl(0, 0%, 100%);
}
.about-me-text {
  margin-top:.8em;
  font-weight: bold;
  text-shadow: .03em .03em hsl(0, 0%, 0%);
  color: hsl(0, 0%, 100%);
}

  .leftcolumn {
  width: 30%;
  float: left;
  padding: 10px;
  }
  .rightcolumn{
  width: 20%;
  float: left;
  padding: 10px;
  }

  /* Middle column */
  .middlecolumn {
  width: 45%;
  float: left;
  padding: 10px;
  }

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

  /* Add a card effect for articles */
  .card {
    background-color: rgba(31, 29, 29, 0.699);
    padding: 20px;
    margin-top: 20px;
  }


  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }

/* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other */
    @media screen and (max-width: 800px) {
    .leftcolumn, .rightcolumn, .middlecolumn {   
      width: 100%;
      padding: 0;
    }
  }

  .button{
    background-color: transparent;
    border: none;
  }
  
  .i1, .i2, .i3, .i4 {
    border: none;
    border-radius:50%;
    width: 50px;
    
  }
  .solosql, .soloc{
    height:80px;
    width:80px;
    border:black;
    padding: 3px;
   
  }

  .s1, .s2, .s3, .s4, .s5{
    height:60px;
    width:60px;

  }

  p.tab1{
    display: inline-block;
    margin:2px;
    margin-left: 40px;
    font-size: 5em;
   

  }
  p.tab2{
    display: inline-block;
    margin:3px;
    margin-left: 70px;
    font-size:5em;
    
    
  }
  p.tab3{
    display: inline-block;
    margin:2px;
    margin-left: 100px;
    font-size: 5em;
    
  }

